body {
	color: #555;
	font-family: 'Ubuntu', arial, serif;
}

h1 {
	text-align: center;
	text-shadow: 2px 2px 2px #CCC;
}

table.grid {
	border: 2px solid #555;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

table.grid td {
	border: 1px solid #CCC;
	height: 100px;
	width: 150px;
}

.block {
	height: 100%;
	padding: 5px;
	text-align: center;
}

.filled {
	background-color: #D3E3D5;
}