/* RESET */

html, body {
  margin: 0;
}

h1 {
  -webkit-margin-before: 0;
}

/* REAL STUFF */

body {
  color: #303030;
	background: #E8E8E8;
	font-family: 'Ubuntu', arial, serif;
}

header {
  height: 2em;
}

.dark {
  color: #E8E8E8;
  background: #303030;
}

a {
	color: red;
}

a:link, a:visited {
	text-decoration: none;
	color: red;
}

a:hover, a:active {
	text-decoration: underline;
	color: red;
}

.draggable {
  position: absolute;
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 5px;
}

.red {
  background: #D8F3C9;
}

.blue {
  background: #ACD1E9;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0px;
  height: 3em;
  font-size: 0.75em;
  width: 100%;
  padding: 0.5em 0;
}

.license {
  border-width: 0;
  float: right;
}
